<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c196projectdanadams">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.C196ProjectDanAdams">
        <receiver
            android:name=".util.Receiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".ui.assessments.AssessmentEditActivity"
            android:label="Assessment"
            android:parentActivityName=".ui.courses.CourseEditAssessmentListActivity" />
        <activity
            android:name=".ui.courses.CourseEditAssessmentListActivity"
            android:label="Course and Assessments"
            android:parentActivityName=".ui.terms.TermEditCourseListActivity" />
        <activity
            android:name=".ui.terms.TermEditCourseListActivity"
            android:label="Term and Courses"
            android:parentActivityName=".ui.terms.TermListActivity" />
        <activity
            android:name=".ui.terms.TermListActivity"
            android:label="Terms"
            android:parentActivityName=".ui.HomePageActivity" />
        <activity android:name=".ui.HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>